body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
.container{
  width: auto;
  height: auto;
}

/* REGISTER */

.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 10;
  color:white;
  padding:10px;
  padding-left: 60px;
  padding-right: 60px;
  animation-name: loginModal;
  animation-duration: 1.2s;
}
@keyframes loginModal {
  from{opacity: 0; transform: translate(-50%,-1300px);}
  to{opacity: 1;}
}
.modal-register-title{
  font-size: 36px;
  margin: 15px;
  margin-bottom: 30px;
  font-weight: 700;
}
form {
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputField{
  display: flex;
  flex-direction: column;
  height: 98px;
}

.inputRegister {
  display: flex;
  height: 45px;
  width: 330px;
  color: white;
  background-color: rgb(69, 69, 69);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
  border: 2px solid transparent;
  padding-left: 10px;
}
::placeholder {
  color: #b6b6b6;
  opacity: 0.6;
}

.inputRegister:active,
:focus-visible {
  border: 2px solid white;
  outline: none;
}
.button-sign-up {
  height: 42px;
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(58,168,251);
  color: white;
  border: 0px;
  box-shadow: 0px 0px 10px black;
  border-radius: 50px;
}
.button-sign-up:hover {
  cursor: pointer;
  background-color: rgb(58,168,251);
}
h2 {
  margin-top: 3px;
  font-size: 12px;
  color: red;
}
h1 {
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 15px;
  letter-spacing: 1px;
}
.toggleIcon {
  transform: translate(300px,35px);
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
/*End of REGISTER*/

/*Login*/
.modalLogin {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 10;
  padding-left: 60px;
  padding-right: 60px;
  animation-name: signupModal;
  animation-duration: 1s;
}

@keyframes signupModal {
  from{opacity: 0; transform: translate(-50%,-1300px);}
  to{opacity: 1;}
}
h3{
  font-size: 40px;
  font-weight: 700;
}
  .inputLogin {
  display: flex;
  height: 45px;
  width: 330px;
  color: white;
  background-color: rgb(69, 69, 69);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 300;
  border: 2px solid transparent;
  padding-left: 10px;
}
::placeholder {
  color: #b6b6b6;
  opacity: 0.6;
}

.inputRegister:active,
:focus-visible {
  border: 2px solid white;
  outline: none;
}
.button-login {
  height: 42px;
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(58,168,251);
  color: white;
  border: 0px;
  box-shadow: 0px 0px 10px black;
  border-radius: 50px;
  
}
.button-login:hover {
  cursor: pointer;
  background-color: rgb(58,168,251);
}
h4{
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
.sign-up-from-login-modal{
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.sign-up-from-login-modal:hover{
  text-decoration: underline white;
}
.password-toggle-icon-from-login{
  transform: translate(300px,35px);
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
/*END LOGIN*/

.backdrop {
  position: fixed;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  top: 0;
  left: 0;
}
.studentHome {
  background-color: red;
}



.tgrades {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
/*End of Section*/

/* End Home Student */
